/* tag selector */
body {
    background-color: #A76F6F;
}

h1 {
    margin: 20px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

footer {
    margin-top: 2%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 50%;
}

/* class selector */
.container {
    text-align: center;
    width: 70%;
    margin: auto;

}

.dice {
    text-align: center;
    display: inline-block;
    margin: 2rem;

}